div[ng-controller='MainController'] {
	overflow: hidden;

	.card-image {
		background: linear-gradient(
			145deg,
			map-get($brand-primary, 'base'),
			lighten(map-get($brand-primary, 'base'), 25%)
		);

		img {
			padding: 45px;
		}

		.btn-floating {
			display: flex;

			.github-icon {
				display: block;
				margin: auto;
				object-fit: contain;
				padding: 0;
				width: 50%;
			}
		}
	}

	.card-content {
		.header {
			font-size: 3em;
		}

		.divider {
			margin: 15px 0;
		}

		.collection {
			margin: 30px 0;
		}
	}
}
