@import '../../../node_modules/materialize-css/sass/components/color-variables';
@import '../../../node_modules/materialize-css/sass/components/variables';

$brand-primary: (
	'base': #1565c0
);

$brand-secondary: (
	'base': #c62828
);

$brand-colors: (
	'brand-primary': $brand-primary,
	'brand-secondary': $brand-secondary
);

$colors: map-merge($colors, $brand-colors);

$primary-color: color('brand-primary', 'base');
$secondary-color: color('brand-secondary', 'base');

@import '../../../node_modules/materialize-css/sass/materialize';
