/******************************************************
*                  DEPENDENCIES
******************************************************/

@import './dependencies/*.scss';


@import '../fonts/roboto.css';
@import '../fonts/material-icons.css';

/******************************************************
*                  GLOBAL STYLES
******************************************************/

html, body {
   overflow-x: hidden;
}

body {
	background: #EEE;
   font: 18px 'roboto_condensedregular';
   font-weight: 100;

   .material-icons {
      width: 24px;
   }
   
} // body


/******************************************************
*                    MODULES
******************************************************/

@import './modules/*.scss';